body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

header{
    background:#1e3a5f;
    color:white;
    padding:20px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:60px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:220px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

footer{
    text-align:center;
    padding:20px;
}